{% extends 'base.html' %}
{% load static %}
{% block title %}Interviews | Operations{% endblock %}
{% block content %}
    
    <section class="">
        <div class="">
           <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box bg-blue hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/operations/interview?status__exact=0">
                                <i class="material-icons">person</i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Pending</h5></div>
                            <h4><strong>{{ pending }}</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box bg-brown hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/operations/interview?status__exact=1">
                                <i class="material-icons">refresh</i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Active</h5></div>
                            <h4><strong>{{ active }}</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box bg-green hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/operations/interview?status__exact=2">
                                <i class="material-icons">done</i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Done</h5></div>
                            <h4><strong>{{ done }}</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/operations/interview?status__exact=3">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Cancelled</h5></div>
                            <h4><strong>{{ cancelled }}</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box bg-green hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/operations/interview?status__exact=4">
                                <i class="material-icons">done</i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Passed</h5></div>
                            <h4><strong>{{ passed }}</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box bg-red hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/operations/interview?status__exact=5">
                                <i class="material-icons">close</i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Failed</h5></div>
                            <h4><strong>{{ failed }}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2>Manage Interviews</h2>
                                </div>
                                <div class="col-sm-3">
                                    <div class="text-right">
                                        {% if perms.operations.add_interview %}
                                            <a href="/admin/operations/interview/add" 
                                                class="btn btn-sm bg-cyan waves-effect">
                                                Add Interview
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>Client</th>
                                        <th>Nationality</th>
                                        <th>Date Of Birth</th>
                                        <th>Age</th>
                                        <th>Registration</th>
                                        <th>Status</th>
                                        <th>Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for interview in interviews %}
                                        <tr>
                                            <td>{{ interview.client }}</td>
                                            <td>{{ interview.nationality }}</td>
                                            <td>{{ interview.date_ob }}</td>
                                            <td>{{ interview.age }}</td>
                                            <td>
                                                {% if interview.client.registered %}
                                                    <span class="badge badge-pill bg-green">Done</span>
                                                {% else %}
                                                    <span class="badge badge-pill bg-blue">Pending</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if interview.status == 0 %}
                                                    <span class="badge badge-pill bg-blue">Pending</span>
                                                {% elif interview.status == 1 %}
                                                    <span class="badge badge-pill bg-green">Active</span>
                                                {% elif interview.status == 2 %}
                                                    <span class="badge badge-pill bg-orange">Done</span>
                                                {% elif interview.status == 3 %}
                                                    <span class="badge badge-pill bg-red">Cancelled</span>
                                                {% elif interview.status == 4 %}
                                                    <span class="badge badge-pill bg-green">Passed</span>
                                                {% else %}
                                                    <span class="badge badge-pill bg-red">Failed</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ interview.created }}</td>
                                            <td>
                                                <button class="btn btn-xs bg-deep-orange waves-effect"
                                                    data-toggle="modal" data-target="#ViewInterviewModal-{{ interview.id }}">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                                <div class="modal fade" id="ViewInterviewModal-{{ interview.id }}" role="dialog" data-backdrop="static">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Interview Details</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-xs-3">
                                                                        <h6>Religion</h6>
                                                                        <p>{{ interview.religion }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Place Of Birth</h6>
                                                                        <p>{{ interview.place_ob }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Married</h6>
                                                                        <p>
                                                                            {% if interview.married %}
                                                                                Yes
                                                                            {% else %}
                                                                                No
                                                                            {% endif %}
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Spouse Name</h6>
                                                                        <p>{{ interview.spouse_name }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Spouse Contact</h6>
                                                                        <p>{{ interview.spouse_contact }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Number Of Children</h6>
                                                                        <p>{{ interview.num_children }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Home Town</h6>
                                                                        <p>{{ interview.home_town }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Previous Job</h6>
                                                                        <p>{{ interview.prev_job }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Previous Empoloyer</h6>
                                                                        <p>{{ interview.prev_employer }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Description</h6>
                                                                        <p>{{ interview.description }}</p>
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <h5>Interview File</h5>
                                                                        {% if interview.document %}
                                                                            <a href="/media/{{ interview.document }}" target="_blank">
                                                                                File
                                                                            </a>
                                                                        {% else %}
                                                                            <i>No Interview File Attatched</i>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                {% if perms.operations.change_interview %}
                                                                    <a href="/admin/operations/interview/{{ interview.id }}/change"
                                                                        class="btn btn-sm btn-success">Edit</a>
                                                                {% endif %}
                                                                {% if perms.operations.delete_interview %}
                                                                    <a href="/admin/operations/interview/{{ interview.id }}/delete"
                                                                        class="btn btn-sm btn-danger">Delete</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
        </div>
    </section>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/pages/tables/interviews.js' %}" ></script>
{% endblock js %}