{% extends 'base.html' %}
{% load static %}
{% block title %}Trainings | Operations{% endblock %}
{% block content %}
    
    <section class="">
        <div class="">
            <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box bg-blue hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/operations/training?status__exact=0">
                                <i class="material-icons">person</i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Pending</h5></div>
                            <h4><strong>{{ pending }}</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box bg-brown hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/operations/training?status__exact=1">
                                <i class="material-icons">refresh</i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Active</h5></div>
                            <h4><strong>{{ active }}</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box bg-green hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/operations/training?status__exact=2">
                                <i class="material-icons">done</i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Done</h5></div>
                            <h4><strong>{{ done }}</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/operations/training?status__exact=3">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Cancelled</h5></div>
                            <h4><strong>{{ cancelled }}</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box bg-green hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/operations/training?status__exact=4">
                                <i class="material-icons">done</i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Passed</h5></div>
                            <h4><strong>{{ passed }}</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box bg-red hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/operations/training?status__exact=5">
                                <i class="material-icons">close</i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Failed</h5></div>
                            <h4><strong>{{ failed }}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2>Manage Trainings</h2>
                                </div>
                                <div class="col-sm-3">
                                    <div class="text-right">
                                        {% if perms.operations.add_training %}
                                            <a href="/admin/operations/training/add" 
                                                class="btn btn-sm bg-cyan waves-effect">
                                                Add Training
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>Client</th>
                                        <th>Training Center</th>
                                        <th>Interpol</th>
                                        <th>Status</th>
                                        <th>Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for training in trainings %}
                                        <tr>
                                            <td>{{ training.client }}</td>
                                            <td>{{ training.center }}</td>
                                            <td>
                                                {% if training.client.interpol.status == 0 %}
                                                    <span class="badge badge-pill bg-blue">Pending</span>
                                                {% elif training.client.interpol.status == 1 %}
                                                    <span class="badge badge-pill bg-green">Active</span>
                                                {% elif training.client.interpol.status == 2 %}
                                                    <span class="badge badge-pill bg-orange">Done</span>
                                                {% elif training.client.interpol.status == 3 %}
                                                    <span class="badge badge-pill bg-red">Cancelled</span>
                                                {% elif training.client.interpol.status == 4 %}
                                                    <span class="badge badge-pill bg-green">Passed</span>
                                                {% else %}
                                                    <span class="badge badge-pill bg-red">Failed</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if training.status == 0 %}
                                                    <span class="badge badge-pill bg-blue">Pending</span>
                                                {% elif training.status == 1 %}
                                                    <span class="badge badge-pill bg-green">Active</span>
                                                {% elif training.status == 2 %}
                                                    <span class="badge badge-pill bg-orange">Done</span>
                                                {% elif training.status == 3 %}
                                                    <span class="badge badge-pill bg-red">Cancelled</span>
                                                {% elif training.status == 4 %}
                                                    <span class="badge badge-pill bg-green">Passed</span>
                                                {% else %}
                                                    <span class="badge badge-pill bg-red">Failed</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ training.created }}</td>
                                            <td>
                                                <button class="btn btn-xs bg-deep-orange waves-effect"
                                                    data-toggle="modal" data-target="#ViewTrainingModal-{{ training.id }}">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                                <div class="modal fade" id="ViewTrainingModal-{{ training.id }}" role="dialog" data-backdrop="static">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Training Details</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-xs-3">
                                                                        <h6>Religion</h6>
                                                                        <p>{{ training.religion }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Place Of Birth</h6>
                                                                        <p>{{ training.place_ob }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Married</h6>
                                                                        <p>
                                                                            {% if training.married %}
                                                                                Yes
                                                                            {% else %}
                                                                                No
                                                                            {% endif %}
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Spouse Name</h6>
                                                                        <p>{{ training.spouse_name }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Spouse Contact</h6>
                                                                        <p>{{ training.spouse_contact }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Number Of Children</h6>
                                                                        <p>{{ training.num_children }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Home Town</h6>
                                                                        <p>{{ training.home_town }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Previous Job</h6>
                                                                        <p>{{ training.prev_job }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Previous Empoloyer</h6>
                                                                        <p>{{ training.prev_employer }}</p>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <h6>Description</h6>
                                                                        <p>{{ training.description }}</p>
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <h5>Training File</h5>
                                                                        {% if training.document %}
                                                                            <a href="/media/{{ training.document }}" target="_blank">
                                                                                File
                                                                            </a>
                                                                        {% else %}
                                                                            <i>No Training File Attatched</i>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                {% if perms.operations.change_training %}
                                                                    <a href="/admin/operations/training/{{ training.id }}/change"
                                                                        class="btn btn-sm btn-success">Edit</a>
                                                                {% endif %}
                                                                {% if perms.operations.delete_training %}
                                                                    <a href="/admin/operations/training/{{ training.id }}/delete"
                                                                        class="btn btn-sm btn-danger">Delete</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
        </div>
    </section>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/pages/tables/trainings.js' %}" ></script>
{% endblock js %}