{% extends 'base.html' %}
{% block title %}Add Client | Receiption{% endblock %}
{% block content %}
    
    <section class="">
        <div class="">
            <div class="block-header">
                <h2>
                    <!-- Add Client -->
                    <!-- <small>Taken from <a href="https://jqueryvalidation.org/" target="_blank">jqueryvalidation.org</a></small> -->
                </h2>
            </div>
            <!-- Basic Validation -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                             <h1>Personal Information</h1>
                            <div class="text-right">
                            

                            </div>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right" name="c_branch" id="c_branch">
                                        <center><h5>Select Branch</h5></center>
                                        <li><a href="javascript:void(0);">Head Office</a></li>
                                        <li><a href="javascript:void(0);">Kasese Branch</a></li>
                                        <li><a href="javascript:void(0);">Mityana Branch</a></li>
                                        <li><a href="javascript:void(0);">Bundibugyo</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form id="form_validation" method="POST">
                                <!-- REGISTER FORM START -->
                                <div class="row clearfix">
                                <div class="col-md-4">

                                    <div class="form-group">
                                        <div class="form-line">
                                <input type="text" class="form-control" placeholder="Full Names" style="display: inline" name="Full Names" required>
                                        </div>
                                    </div>

                                </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input  type="tel" id="phone" name="PhoneNumber"
                                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" placeholder="Phone number" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Address" name="Address" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Reason" name="Reason" required>
                                        </div>
                                    </div>
                                </div>
                               <!--  Start Job Needed -->
                               <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                              <p><b>Job Needed</b>
                                    </p>
                                    <select class="form-control show-tick" data-live-search="true" id="Work" name="Work" required>
                                        <option value=""></option>
                                        <option>Relative</option>
                                        <option>Friend</option>
                                        <option>CBS</option>
                                        <option>KSTV</option>
                                        <option>Bukkedde TV</option>
                                        <option>NBS TV</option>
                                        <option>nakabuye, rahia,ramadhan, mummyioo,nyunyu, pumpkin, babyioo, baby, omwana, rama, kabuye,mummy,daughter etc</option>

                                    </select> 
                                        </div>
                                    </div>
                                </div>
                                <!-- End Job needed -->

                                <!--  Start How find Us -->
                               <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                              <p><b>How did you know us</b>
                                    </p>
                                    <select class="form-control show-tick" data-live-search="true" id="KnowUs" name="KnowUs"  required>
                                        <option value=""></option>
                                        <option>Relative</option>
                                        <option>Friend</option>
                                        <option>CBS</option>
                                        <option>KSTV</option>
                                        <option>Bukkedde TV</option>
                                        <option>NBS TV</option>
                                        <option>nakabuye, rahia,ramadhan, mummyioo,nyunyu, pumpkin, babyioo, baby, omwana, rama, kabuye,mummy,daughter etc</option>

                                    </select> 
                                        </div>
                                    </div>
                                </div>
                                <!-- End How find Us -->

                                 <!--  Start How find Us -->
                               <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                              <p><b>Choose Catergory</b>
                                    </p>
                                    <select class="form-control show-tick" data-live-search="false" id="Catergory" name="Catergory"  required>
                                        <option value=""></option>
                                        <option>Incoming Call</option>
                                        <option>Registry</option>
                                        <option>Visitor</option>
                                    </select> 
                                        </div>
                                    </div>
                                </div>
                                <!-- End How find Us -->


                                <div class="text-right">

                             <button class="btn btn-primary waves-effect btn-lg margin-right" type="submit">Save</button> 
                         </div>

                            </form>
                          
                    </div>
                </div>
            </div>
            
        </div>
    </section>

{% endblock content %}