{% extends 'base.html' %}
{% block title %}Client List View | Receiption{% endblock %}
{% block content %}
    
    <section class="">
        <div class="">
            <div class="block-header">
                <h2>
                    <!-- Add Client -->
                    <!-- <small>Taken from <a href="https://jqueryvalidation.org/" target="_blank">jqueryvalidation.org</a></small> -->
                </h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h1>Kibirige Ali</h1>
                            <div class="text-left">
                                <small><p>28/03/2019 4:03pm</p></small>
                            </div>

                            <div class="text-right">
                            <img src="../assets/images/image-gallery/1.jpg" width="180px" height="180px" class="pic-stroker">
                            <br><br>
                             <p>Register Count: 40</p>
                             </div>
                            

                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <center><h5>Select Branch</h5></center>
                                        <li><a href="javascript:void(0);">Head Office</a></li>
                                        <li><a href="javascript:void(0);">Kasese Branch</a></li>
                                        <li><a href="javascript:void(0);">Mityana Branch</a></li>
                                        <li><a href="javascript:void(0);">Bundibugyo</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form id="form_validation" method="POST">
                                <!-- REGISTER FORM START -->
                                <div class="row clearfix">
                                <div class="col-md-4">

                                    <div class="form-group">
                                        <div class="form-line">
                                <input type="text" value="Kibirige Ali" class="form-control" placeholder="Full Names" name="Full Names" required>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input  type="tel" value="0754124551" id="phone" name="PhoneNumber"
                                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" placeholder="Phone number" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" value="Kampala Kansanga" class="form-control" placeholder="Address" name="Address" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" value="Job Inquiry" class="form-control" placeholder="Reason" name="Reason" required>
                                        </div>
                                    </div>
                                </div>
                               <!--  Start Job Needed -->
                               <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                              <p><b>Job Needed</b>
                                    </p>
                                    <select class="form-control show-tick" data-live-search="true" id="Work" name="Work" required>
                                        <option value="Armed Guard">Armed Guard</option>
                                        <option>Armed Guard</option>
                                        <option>Cleaner</option>
                                        <option>House Maid</option>
                                        <option>Driver</option>
                                        <option>Security Guard</option>
                                        <option>Plumber</option>
                                        <option>Nurse</option>

                                    </select> 
                                        </div>
                                    </div>
                                </div>
                                <!-- End Job needed -->

                                <!--  Start How find Us -->
                               <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                              <p><b>How did you know us</b>
                                    </p>
                                    <select class="form-control show-tick" data-live-search="true" id="KnowUs" name="KnowUs"  required>
                                        <option value="NBS TV">NBS TV</option>
                                        <option>Relative</option>
                                        <option>Friend</option>
                                        <option>CBS</option>
                                        <option>KSTV</option>
                                        <option>Bukkedde TV</option>
                                        <option>NBS TV</option>
                                        <option>nakabuye, rahia,ramadhan, mummyioo,nyunyu, pumpkin, babyioo, baby, omwana, rama, kabuye,mummy,daughter etc</option>

                                    </select> 
                                        </div>
                                    </div>
                                </div>
                                <!-- End How find Us -->

                                 <!--  Start How find Us -->
                               <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                              <p><b>Choose Catergory</b>
                                    </p>
                                    <select class="form-control show-tick" data-live-search="false" id="Catergory" name="Catergory"  required>
                                        <option value="Incoming Call">Incoming Call</option>
                                        <option>Incoming Call</option>
                                        <option>Registry</option>
                                    </select> 
                                        </div>
                                    </div>
                                </div>
                                <!-- End How find Us -->
                               <div class="col-md-12">

                                   
                              <!-- START CALL VISIT COUNT -->
                               <div class="text-left">
                                 <button class="btn btn-primary waves-effect btn-lg margin-left" type="button">Count Register</button> 
                                 <button class="btn btn-primary waves-effect btn-lg margin-left" type="button">Count Calls</button> 
                              </div>
                              <!--  END CALL VISIT COUNT -->

                              <!-- START PRINT UPDATE -->
                                <div class="text-right">
                             <button class="btn btn-primary waves-effect btn-lg margin-right" type="button"
                             onclick="printJS({ printable: 'form_validation', type: 'html', header: 'Personal Information', showModal:'true' })">Print</button> 
                             <button class="btn btn-primary waves-effect btn-lg margin-right" type="submit">Update</button> 
                         </div>
                         <!-- END   PRINT UPDATE -->
                               </div>
                            </form>
                          
                    </div>
                </div>
            </div>
            
        </div>
    </section>
{% endblock content %}