{% extends 'base.html' %}
{% load static %}
{% block title %}Client Files | Files{% endblock %}
{% block content %}
    
    <section class="">
        <div class="">
           
            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2>Manage Client Files</h2>
                                </div>
                                <div class="col-sm-3">
                                    <div class="text-right">
                                        <a href="/admin/files/clientfile/add" 
                                            class="btn btn-sm bg-cyan waves-effect">
                                            Add Client File
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>Client</th>
                                        <th>Title</th>
                                        <th>Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file in files %}
                                        <tr>
                                            <td>{{ file.client }}</td>
                                            <td>{{ file.title }}</td>
                                            <td>{{ file.created }}</td>
                                            <td>
                                                <button class="btn btn-xs bg-deep-orange waves-effect"
                                                    data-toggle="modal" data-target="#ViewClientFileModal-{{ file.id }}">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                                <div class="modal fade" id="ViewClientFileModal-{{ file.id }}" role="dialog" data-backdrop="static">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Client File Details</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h5>Description</h5>
                                                                <p>{{ file.description }}</p>
                                                                <hr>
                                                                <h5>Client File File</h5>
                                                                {% if file.document %}
                                                                    <a href="/media/{{ file.document }}" target="_blank">
                                                                        File
                                                                    </a>
                                                                {% else %}
                                                                    <i>No Client File File Attatched</i>
                                                                {% endif %}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="/admin/files/clientfile/{{ file.id }}/change"
                                                                    class="btn btn-sm btn-success">Edit</a>
                                                                <a href="/admin/files/clientfile/{{ file.id }}/delete"
                                                                    class="btn btn-sm btn-danger">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
        </div>
    </section>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/pages/tables/client-files.js' %}" ></script>
{% endblock js %}