{% extends 'base.html' %}
{% block title %}Album | Vetting{% endblock %}
{% block content %}
    
    <section class="">
        <div class="">
           
              <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">done</i>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Vetting Complete</h5></div>
                            <h4><strong>400</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">hourglass_full</i>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Vetting Pending</h5></div>
                            <h4><strong>40</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">sync</i>
                        </div>
                        <div class="content">
                            <div class="text"><h5>Vetting Submited</h5></div>
                            <h4><strong>400</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                           <a href="reception/CommentsView.html"> <i class="material-icons">comment</i></a>
                        </div>
                        <div class="content">
                            <div class="text">Comments</div>
                            <h4><strong>4004</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Widgets -->
           
            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                           <!--  The Generate List & Ablum Button -->
                            <div class="text-left" style="">
                <img src="../../assets/images/Logoz/enjaazi_logo.png" class="img-responsive" style="width:25%; height: 95px;">
                          </div>

                          <div class="text-right" style="position: relative; float: center;">
              <!-- Company name here -->
              <!-- <h3 class="modal-title" style="margin-right:40px;">Enjaazi Limited.</h3> -->
              <!-- Company contacts -->
     <p style="margin-bottom:2px; margin-right:30px; font-size: 12px;">P. O. Box 12416 Kampala</p>
     <p style="margin-bottom:2px; margin-right:30px; font-size: 12px;">Plot 1154 | Makindye, Kizungu Road</p>
     <p style="margin-bottom:2px; margin-right:30px; font-size: 12px;">Tel: +256 707 681 803 | +256 707 681 804</p>
     <p style="margin-bottom:2px; margin-right:30px; font-size: 12px;">Email: info@enjaazi.co.ug | Website: www.enjaazilimited.co.ug</p>
              <!-- Company contacts -->
          </div>
                            <ul class="header-dropdown m-r--5">
                               <!--  <a href="employmentApplicationForm.html"><button class="btn btn-sm waves-effect bg-cyan"><h6>Add application form</h6></button></a> -->
                                <!-- <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </div>
                        <div class="body">
                            <div class="text-center">
                                <h4 style="margin: 15px;">Vetting Album As At 7th November 2019</h4>
                    </h4></div>
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                        
                                </thead>
                                <tbody>
                                    <tr>
        <td>
        <img src="../../assets/images/Ali-Identity-Enjaazi-Use.png"  style="width: 200px; height: 200px; border: #ccc solid 3px;"/>
        <h4>Kibirige Ali</h4>
        <h5>A0003422</h5>
        <img src="../../assets/images/Ali-Identity-Enjaazi-Use.png"  style="width: 200px; height: 200px; border: #ccc solid 3px;"/>
        <br>
        <h4>Kibirige Ali</h4>
        <h5>A0003422</h5>
                        </td>
                        <td>
                            <img src="../../assets/images/Ali-Identity-Enjaazi-Use.png"  style="width: 200px; height: 200px; border: #ccc solid 3px;"/>
                            <h4>Kibirige Ali</h4>
                            <h5>A0003422</h5>
                            <img src="../../assets/images/Ali-Identity-Enjaazi-Use.png"  style="width: 200px; height: 200px; border: #ccc solid 3px;"/>
                            <br>
                            <h4>Kibirige Ali</h4>
                            <h5>A0003422</h5>
                        </td>
                        <td>
                            <img src="../../assets/images/Ali-Identity-Enjaazi-Use.png"  style="width: 200px; height: 200px; border: #ccc solid 3px;"/>
                            <h4>Kibirige Ali</h4>
                            <h5>A0003422</h5>
                            <img src="../../assets/images/Ali-Identity-Enjaazi-Use.png"  style="width: 200px; height: 200px; border: #ccc solid 3px;"/>
                            <br>
                            <h4>Kibirige Ali</h4>
                            <h5>A0003422</h5>
                        </td>
                        <td>
                            <img src="../../assets/images/Ali-Identity-Enjaazi-Use.png"  style="width: 200px; height: 200px; border: #ccc solid 3px;"/>
                            <h4>Kibirige Ali</h4>
                            <h5>A0003422</h5>
                            <img src="../../assets/images/Ali-Identity-Enjaazi-Use.png"  style="width: 200px; height: 200px; border: #ccc solid 3px;"/>
                            <br>
                        <h4>Kibirige Ali</h4>
                            <h5>A0003422</h5>
                        </td>

                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="header">
                           <!--  The Generate List & Ablum Button -->
                            <div class="text-left" style="">
                <img src="../../assets/images/Logoz/EnjaaziFooter.png" class="img-responsive" style="width:100%; height: 100px;">
                          </div>
                        </div>
                    </div>
                    </div>
            </div>
            <!-- #END# Exportable Table -->
            

            <!-- Start Vetting Officer Generate Document Modal -->
            <div class="modal fade" id="GenDocModal" role="dialog" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select Item</h4>
                      </div>
                      <div class="modal-body">
                        <!-- Start Container Generate Vetting List and Album --> 
                        <div class="text-center">
                    <button class="btn btn-lg bg-deep-orange waves-effect" style="padding:15px;" data-toggle="modal" data-target="#GenDocModal"><i class="material-icons">list</i>Vetting List</button>
                    <button class="btn btn-lg bg-green waves-effect" style="padding:15px;" data-toggle="modal" data-target="#GenDocModal"><i class="material-icons">assignment_ind</i> Vetting Album</button>
                    <button class="btn btn-lg bg-green waves-effect" style="padding:15px;" data-toggle="modal" data-target="#GenDocModal"><i class="material-icons">assignment_ind</i> Interpol List</button>
                        </div>
                       <!--  End Container Generate Vetting List and Album  -->
                          

                      </div>
                      <div class="modal-footer">
                          
                      </div>
                    </div>
                    
                </div>
                
            </div>
            <!-- End Vetting Officer Generate Document Modal -->


            <!-- Start Vetting Officer Comment Modal -->
            <div class="modal fade" id="dataentrantCommentModal" role="dialog" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Kibirige Ali</h4>
                      </div>
                      <div class="modal-body">
                          

                      </div>
                      <div class="modal-footer">
                          
                      </div>
                    </div>
                    
                </div>
                
            </div>
            <!-- End Vetting Officert Comment Modal -->

            <!-- Start Vetting Officer Diso Info Modal -->
            <div class="modal fade" id="vettingDisoModal" role="dialog" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">File Number: E1500</h4>
                      </div>
                      <div class="modal-body">
                        <!-- ##### Start Photo -->
                      <div class="col-md-12">
                      <div class="text-left"><h3 style="padding:20px;">Kibirige Ali</h3></div>
                      <div class="text-right">              
                      <img src="assets/images/Ali-Identity-Enjaazi-Use.png"  style="width: 200px; height: 200px; border: #ccc solid 3px; margin-bottom: 50px;"/>
                 </div>

                 <!-- ##### End Client Photo -->
                      
                      <!-- Start Add Diso Information -->
                      <div class="modal-body form">
          <form id="form" class="form-horizontal"  method ="post">
            <div class="form-body">

             
              <h5>Add Address</h5>
               <!-- Add District:--> 
              <div class="form-group">
                <label class="control-label col-md-3">District:</label>
                <div class="col-md-9">
                 <div class="form-line">
                 <input type="text" class="form-control" placeholder="Add District"  name="District" required>
                 </div>
                </div>
              </div>
                <!-- Add Subcounty:--> 
              <div class="form-group">
                <label class="control-label col-md-3">Subcounty:</label>
                <div class="col-md-9">
                 <div class="form-line">
                 <input type="text" class="form-control" placeholder=" Add Sub County"  name="Subcounty" required>
                 </div>
                </div>
              </div>
                <!-- Add Village:--> 
              <div class="form-group">
                <label class="control-label col-md-3">Village:</label>
                <div class="col-md-9">
                 <div class="form-line">
                 <input type="text" class="form-control" placeholder="Add Village"  name="Village" required>
                 </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">Parish:</label>
                <div class="col-md-9">
                 <div class="form-line">
                 <input type="text" class="form-control" placeholder="Add Parish"  name="Parish" required>
                 </div>
                </div>
              </div>
             
              <!-- Add Subcounty:--> 
              <div class="form-group">
                <label class="control-label col-md-3">Subcounty:</label>
                <div class="col-md-9">
                 <div class="form-line">
                 <input type="text" class="form-control" placeholder="Add Sub County"  name="Subcounty" required>
                 </div>
                </div>
              </div>

              <!-- Add Recruiter -->
              <!-- <h5>Add Company</h5> -->
               <div class="form-group">
                <label class="control-label col-md-3">Company</label>
                <div class="col-md-9">
                <div class="form-line">
                    <select>
                        <option value=""></option>
                        <option>Sosi International</option>
                        <option>Ingaz Recruitment Office</option>
                        <option>Emirates Gate way Security Services</option>

                    </select>
                </div>
                </div>
              </div>
              <!-- Save Button -->
              <div class="text-right">
                  <button type="submit" class="btn btn-sm waves-effect bg-cyan" style="margin: 15px;"><h6>Save</h6></button>
              </div>
          </div>

              </form>

              <form id="form" class="form-horizontal"  method ="post">

            <div class="form-body">
                <h5>Upload Documents</h5>
              <!-- Add Diso Form -->
              <div class="form-group">
                <label class="control-label col-md-3">Diso Form:</label>
                <div class="col-md-9">
                 <div class="form-line">
                <input type="hidden" id="filename" name="filename" value="">
             <input type="file" id="uploadedFile" name="uploadedFile" class="form-control form-control-sm" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                 </div>
                </div>
              </div>

              <!-- Add Diso Form -->
              <div class="form-group">
                <label class="control-label col-md-3">Bio Data Form:</label>
                <div class="col-md-9">
                 <div class="form-line">
                <input type="hidden" id="filename" name="filename" value="">
             <input type="file" id="uploadedFile" name="uploadedFile" class="form-control form-control-sm" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                 </div>
                </div>
              </div>

              <!-- Add Contract -->
              <div class="form-group">
                <label class="control-label col-md-3">Contract:</label>
                <div class="col-md-9">
                 <div class="form-line">
                <input type="hidden" id="filename" name="filename" value="">
             <input type="file" id="uploadedFile" name="uploadedFile" class="form-control form-control-sm" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                 </div>
                </div>
              </div>
               <!-- Additional ONE -->
              <div class="form-group">
                <label class="control-label col-md-3">Additional:</label>
                <div class="col-md-9">
                 <div class="form-line">
                <input type="hidden" id="filename" name="filename" value="">
             <input type="file" id="uploadedFile" name="uploadedFile" class="form-control form-control-sm" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                 </div>
                </div>
              </div>
               <!-- Additional Two -->
              <div class="form-group">
                <label class="control-label col-md-3">Additional:</label>
                <div class="col-md-9">
                 <div class="form-line">
                <input type="hidden" id="filename" name="filename" value="">
             <input type="file" id="uploadedFile" name="uploadedFile" class="form-control form-control-sm" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                 </div>
                </div>
              </div>

              <!-- Save Button -->
              <div class="text-right">
                  <button type="submit" class="btn btn-sm waves-effect bg-cyan" style="margin: 15px;"><h6>Save</h6></button>
              </div>
          </div>
              </form>

              <form id="form" class="form-horizontal"  method ="post">

            <div class="form-body">
                 <!-- Change Status -->
              <h5>Change Status</h5>
               <div class="form-group">
                <label class="control-label col-md-3">Select Status</label>
                <div class="col-md-9">
                <div class="form-line">
                    <select>
                        <option value=""></option>
                        <option>Vetting Pending</option>
                        <option>Vetting Submited</option>
                        <option>Vetting Complete</option>
                    </select>
                </div>
                </div>
              </div>
                
              <!-- Save Button -->
              <div class="text-right">
                  <button type="submit" class="btn btn-sm waves-effect bg-cyan" style="margin: 15px;"><h6>Save</h6></button>
              </div>
          </div>
              </form>
        </div>
        <div class="modal-footer">
            
        </div>
        
      </div>
                      <!-- End Add Diso Information  -->   

                      </div>
                      <div class="modal-footer">
                          
                      </div>
                </div>
                
            </div>
            <!-- End Vetting Officer Comment Modal -->
        </div>
    </section>
{% endblock content %}