{% extends 'base.html' %}
{% load static %}
{% block title %}Branches | System Admin{% endblock %}
{% block content %}
    
    <section class="">
        <div class="">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3>Manage Branches</h3>
                                </div>
                                <div class="col-sm-3 text-right">
                                    {% if perms.home.add_branch %}
                                        <a href="/admin/home/branch/add" 
                                            class="btn btn-sm bg-cyan waves-effect">
                                            Add Branch
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-xs table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                        <th>Active</th>
                                        <th>Established</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for branch in branches %}
                                        <tr>
                                            <td>{{ branch.title }}</td>
                                            <td>{{ branch.address }}</td>
                                            <td>{{ branch.contact }}</td>
                                            <td>{% if branch.is_active %}Yes{% else %}No{% endif %}</td>
                                            <td>{{ branch.established }}</td>
                                            <td>
                                                <a class="btn btn-xs btn-success" 
                                                    href="/admin/home/branch/{{ branch.id }}/change"><span class="material-icons">edit</span></a>
                                                <button class="btn btn-xs bg-deep-orange" 
                                                    data-toggle="modal" data-target="#ViewBranchModal-{{ branch.id }}">
                                                    <span class="material-icons">visibility</span>
                                                </button>
                                                <div class="modal fade" id="ViewBranchModal-{{ branch.id }}" role="dialog" data-backdrop="static">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h3 class="modal-title">Branch Details.</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-sm-4"><b>Title</b></div>
                                                                    <div class="col-m-8"><p>{{ branch.title }}</p></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-4"><b>Address</b></div>
                                                                    <div class="col-m-8"><p>{{ branch.address }}</p></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-4"><b>Contact</b></div>
                                                                    <div class="col-m-8"><p>{{ branch.contact }}</p></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-4"><b>Description</b></div>
                                                                    <div class="col-m-8"><p>{{ branch.description }}</p></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-4"><b>Is Active</b></div>
                                                                    <div class="col-m-8"><p>{% if branch.is_active %}Yes{% else %}No{% endif %}</p></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-4"><b>Established</b></div>
                                                                    <div class="col-m-8"><p>{{ branch.established }}</p></div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                {% if perms.home.change_branch %}
                                                                    <a href="/admin/home/branch/{{ branch.id }}/change"
                                                                        class="btn btn-sm btn-success">Edit</a>
                                                                {% endif %}
                                                                {% if perms.home.delete_branch %}
                                                                    <a href="/admin/home/branch/{{ branch.id }}/delete"
                                                                        class="btn btn-sm btn-danger">Delete</a>
                                                                {% endif %}
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

{% endblock content %}
{% block js %}
    <script src="{% static 'js/pages/tables/branches.js' %}" ></script>
{% endblock js %}