{% extends 'base.html' %}
{% load static %}
{% block title %}Payments | Finances{% endblock %}
{% block content %}
    
    <section class="">
        <div class="">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3>Manage Payments</h3>
                                </div>
                                <div class="col-sm-3 text-right">
                                    {% if perms.finances.add_payment %}
                                        <a href="/admin/finances/payment/add" 
                                            class="btn btn-sm bg-cyan waves-effect">
                                            Add Payment
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-xs table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>Client</th>
                                        <th>Entered By</th>
                                        <th>Fee</th>
                                        <th>Amount Paid</th>
                                        <th>Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for payment in payments %}
                                        <tr>
                                            <td>{{ payment.client }}</td>
                                            <td>{{ payment.user }}</td>
                                            <td>{{ payment.fee }}</td>
                                            <td>{{ payment.amount_paid }}</td>
                                            <td>{{ payment.created }}</td>
                                            <td>
                                                <button class="btn btn-xs bg-deep-orange waves-effect" 
                                                    data-toggle="modal" data-target="#ViewPaymentModal-{{ payment.id }}">
                                                        <span class="material-icons">visibility</span></button>
                                                <div class="modal fade" id="ViewPaymentModal-{{ payment.id }}" role="dialog" data-backdrop="static">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h3 class="modal-title">Payment Details.</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-sm-8">
                                                                        <h5>Description</h5>
                                                                        <p>{{ payment.description }}</p>
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <h5>Document (Receipt)</h5>
                                                                        {% if payment.document %}
                                                                            <a href="/media/{{ payment.document }}"
                                                                                target="_blank">Document</a>
                                                                        {% else %}
                                                                            <i>No Document</i>
                                                                        {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="/admin/finances/payment/{{ payment.id }}/change"
                                                                    class="btn btn-success btn-sm">Edit</a>
                                                                <a href="/admin/finances/payment/{{ payment.id }}/delete"
                                                                    class="btn btn-danger btn-sm">Delete</a>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
{% block js %}
    <script src="{% static 'js/pages/tables/payments.js' %}" ></script>
{% endblock js %}