{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    
    <section class="">
        <div class="">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <div class="row">
                                <h3>Manage </h3>
                                <div class="text-right">
                                    <button type="button"class="btn btn-sm bg-cyan waves-effect" 
                                        data-toggle="modal" data-target="#AddBranchModal">
                                        Add 
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-xs table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for branch in branches %}
                                        <tr>
                                            <td>
                                                <button class="btn btn-sm bg-deep-orange waves-effect" 
                                                    data-toggle="modal" data-target="#EditBranchModal"><i class="material-icons">edit</i></button>
                                                <button class="btn btn-sm bg-deep-orange waves-effect" 
                                                    data-toggle="modal" data-target="#DeleteBranchModal"><i class="material-icons">delete</i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="AddBranchModal" role="dialog" data-backdrop="static">
                <div class="modal-dialog modal-lg ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title">Add Branch Details.</h3>
                        </div>
                        <div class="modal-body form">
                            <form id="form_validation" class="form-horizontal"  method="post">
                                {% csrf_token %}
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Title:</label>
                                        <div class="col-md-9">
                                            <div class="form-line">
                                                <input type="text" class="form-control" 
                                                    placeholder="Branch Name" name="title" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add Branch Address-->
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Address:</label>
                                        <div class="col-md-9">
                                            <div class="form-line">
                                                <input type="text" class="form-control" 
                                                    placeholder="Branch Address" name="address" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add Contact -->
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Contact:</label>
                                        <div class="col-md-9">
                                            <div class="form-line">
                                                <input type="text" class="form-control" 
                                                    placeholder="Branch Contact" name="contact">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add Date [Established] -->
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Established:</label>
                                        <div class="col-md-9">
                                            <div class="form-line">
                                                <input type="date" class="form-control" 
                                                    name="established">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add Description -->
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Description:</label>
                                        <div class="col-md-9">
                                            <div class="form-line">
                                                <textarea type="text" class="form-control" 
                                                    placeholder="Branch Description" rows="5"
                                                    name="description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <div class="text-right">
                                        <button type="submit" class="btn btn-sm waves-effect btn-success">
                                            <h6>Add Branch</h6>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
    </section>

{% endblock content %}
{% block js %}
    <script src="{% static 'js/pages/tables/branches.js' %}" ></script>
{% endblock js %}